$color-blue: #052c54;

.filter-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  overflow: scroll;

  .title-container {
    width: 80px;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px;
    gap: 10px;
    border-radius: 16px;
    background-color: #f4f7ff;

    .title {
      font-weight: 700;
      font-family: sans-serif;
      font-size: 18px;
      line-height: 22px;
      color: $color-blue;
    }
  }

  .filter-area-container {
    display: flex;
    flex-direction: row;
    width: auto;

    .filter-item-container {
      width: 188px;
      height: 47px;
      display: flex;
      align-items: center;
      border-radius: 10px;
      margin-left: 10px;
      padding-left: 15px;
      gap: 5px;
      border: 1px solid #dbe5ff;
      background: #fff;
      cursor: pointer;

      @media screen and (max-width: 768px) {
        width: auto;
        padding-right: 24px;
      }

      &.selected {
        background-color: #052c54;
        span {
          color: #ffffff;
        }

        img {
          filter: opacity(1) invert(100%) drop-shadow(0 0 0 #fff);
        }
      }

      img {
        width: 16px;
        height: 16px;
        color: $color-blue;
      }

      span {
        font-weight: 500;
        font-family: sans-serif;
        font-size: 14px;
        line-height: 22px;
        color: $color-blue;

        &.category-name {
          margin-left: 4px;
        }
      }
    }
  }
}
