.news-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;

  .divider {
    width: 100%;
    border-bottom-width: 1px;
    border-color: rgb(#052c54, 0.3);
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .search-area-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 380px;
    height: 36px;
    margin-top: 24px;

    @media screen and (max-width: 480px) {
      width: 320px;
    }

    img {
      width: 24px;
      height: 24px;
      margin-right: -26px;
      z-index: 1;
    }

    .search-input {
      width: 100%;
      height: 100%;
      border: 1px solid #d4dbed;
      border-radius: 6px;
      outline: none;
      padding: 6px;
      padding-left: 30px;
    }
  }
}
