.news-detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  .news-item-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    .header {
      display: flex;
      width: 100%;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-top: 45px;
      margin-bottom: 45px;

      .header-title {
        color: #000;
        font-family: sans-serif;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }

    .articles-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;

      @media screen and (max-width: 1024px) {
        grid-template-columns: 1fr 1fr 1fr;
      }
      @media screen and (max-width: 768px) {
        grid-template-columns: 1fr 1fr;
      }
      @media screen and (max-width: 480px) {
        grid-template-columns: 1fr;
      }
      .single-item-container {
        display: flex;
        flex-direction: column;
        width: 220px;
        margin-bottom: 45px;
        cursor: pointer;

        &:nth-child(4n) {
          justify-self: end;
        }
        &:nth-child(4n-2) {
          justify-self: center;
        }
        &:nth-child(4n-1) {
          justify-self: center;
        }

        @media screen and (max-width: 1024px) {
          &:nth-child(3n) {
            justify-self: end;
          }
          &:nth-child(3n-1) {
            justify-self: center;
          }
          &:nth-child(3n-2) {
            justify-self: start;
          }
        }
        @media screen and (max-width: 768px) {
          &:nth-child(2n) {
            justify-self: end;
          }
          &:nth-child(2n-1) {
            justify-self: start;
          }
        }

        @media screen and (max-width: 480px) {
          &:nth-child(n) {
            justify-self: start;
          }
        }

        @media screen and (max-width: 480px) {
          width: 100%;
        }

        .item-img {
          width: 100%;
          height: 145px;
          border-radius: 10px;
          margin-bottom: 15px;
        }

        .title {
          color: #052c54;
          font-family: sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          margin-bottom: 16px;
        }
      }
    }
  }

  .warning-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 24px;

    .warning {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 480px;
      height: 60px;
      border-radius: 8px;
      background-color: #feda9c;
      margin-top: 24px;

      @media screen and (max-width: 480px) {
        width: 360px;
      }

      img {
        width: 24px;
        height: 24px;
      }

      span {
        color: #000;
        font-family: sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-left: 12px;
      }
    }
  }
}
